<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse Modeling Oxygen 0" sequenceNumber="11">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.amalgam.discovery.feature.group" version="1.8.0.201706011309"/>
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.7.0.v20170515-1617"/>
<unit id="org.eclipse.egit.feature.group" version="4.8.0.201706111038-r"/>
<unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.6.0.v20170602-1611"/>
<unit id="org.eclipse.emf.compare.egit.feature.group" version="1.2.1.201706130827"/>
<unit id="org.eclipse.emf.ecoretools.design.feature.group" version="3.3.0.201706121316"/>
<unit id="org.eclipse.emf.ecoretools.explorer.contextual.feature.group" version="3.3.0.201706121316"/>
<unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.13.0.20170606-0951"/>
<unit id="org.eclipse.emf.emfstore.sdk.feature.feature.group" version="1.9.0.v20170530-0703"/>
<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.2.0.v20170609-0953"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.11.0.201706061326"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.11.0.201706061352"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.0.v20170612-0950"/>
<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.23.0.v20170411-2036"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.23.0.v20170414-0629"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.23.0.v20170411-2108"/>
<unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.23.0.v20170411-2108"/>
<unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.23.0.v20170411-2108"/>
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="3.0.6.201703111926"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.23.0.v20170614-1854"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.3.0.v20170607-1133"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.0.v20170612-0950"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.0.v20170612-1255"/>
<unit id="org.eclipse.sdk.feature.group" version="4.7.0.v20170612-1255"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.3.0.v20170605-1616"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.13.0.v20170609-0928"/>
<repository location="http://download.eclipse.org/releases/oxygen/201706281000"/>
</location>
</locations>
</target>
